<!-- Footer partial for "Looseleashdog" -->

<!-- l-content-wrapper -->
</div>
<!-- l-body-wrapper -->
</div>
<footer>
    <div class="l-footer">
        <div class="l-footer-wrapper">

            <div class="l-box-third">
                <div class="footer-social">
                    <a href="https://www.facebook.com/looseleashdog" target="_blank"><img
                            src="../images/facebook.png"></a>
                    <a href="https://www.instagram.com/looseleashdog" target="_blank"><img
                            src="../images/instagram.png"></a>
                </div>
            </div>

            <div class="l-box-third">
                <div class="footer-goodbye">
                    <h3><a class="link-impact" href="/contact">Contact me here</a></h3>
                </div>
            </div>

            <div class="l-box-third">
                <div class="footer-attributions">
                    <p><a href="https://curator.io" target="_blank">Instagram API</a></p>
                    <p><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a>

                    </p>
                    <p><a href="https://www.vecteezy.com/free-vector/female-portrait" target="_blank">Female
                            Portrait</a><a href="https://www.vecteezy.com/free-vector/park" target="_blank"> and Park
                            Vectors by Vecteezy</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>

<!-- JS -->
<script type="text/javascript">
    /* curator-feed-wide-layout */
    (function () {
        var i, e, d = document,
            s = "script";
        i = d.createElement("script");
        i.async = 1;
        i.src = "https://cdn.curator.io/published/35181681-a0a8-4866-a9d5-0d26f773bff3.js";
        e = d.getElementsByTagName(s)[0];
        e.parentNode.insertBefore(i, e);
    })();
</script>
<script src="/js/index.js" charset="utf-8"></script>
</body>

</html>

<!-- || END of document -->