

<footer>follow me <img src="../images/facebook.png" width="20px"> <img src="../images/instagram.png" width="20px"></footer>



    <!-- jQuery and .js -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="app.js" charset="utf-8"></script>
    <!-- <script src="index.js" charset="utf-8"></script> -->

    <!-- /* curator-feed-default-feed-layout */ -->
    <script type="text/javascript">
        (function(){
        var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
        i.src = "https://cdn.curator.io/published/f54e008f-1076-4434-936b-d84f5e45297f.js";
        e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
        })();
        </script>
</body>

</html>