<!-- body-pane --></div>
<!-- body-wrapper --></div> 
<footer>
    <div class="footer-pane">
        <img src="../images/facebook.png" width="20px"> follow me <img src="../images/instagram.png" width="20px">
    </div>
</footer>
</div> <!-- page-wrapper -->



<!-- jQuery and .js -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

<!-- /* curator-feed-default-feed-layout */ -->
<script type="text/javascript">
    (function () {
        var i, e, d = document,
            s = "script";
        i = d.createElement("script");
        i.async = 1;
        i.src = "https://cdn.curator.io/published/f54e008f-1076-4434-936b-d84f5e45297f.js";
        e = d.getElementsByTagName(s)[0];
        e.parentNode.insertBefore(i, e);
    })();
</script>
</body>

</html>