<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="copyright" content="" />
    <title><%=pageTitle%></title>

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/module.css">
    <link rel="stylesheet" href="/css/state.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/post.css">


    <!-- Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/atn3lzq.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400&family=Sacramento&display=swap" rel="stylesheet">

    <!-- JS -->

    <script src="/js/index.js" charset="utf-8"></script>

</head>

<body>
        <div class="l-header">
            <div class="l-header-wrapper">

                <div class="smlogo-pane">
                    <a href="/"><img class="logo-sm" src="/images/logo.png" ></a>
                    
                    
                    <!-- <img class="smlogo-image" src="\images\icon.png"> -->
                    
                    <!-- <h1 class="smlogo-text">Loose Leash Dog</h1>
                    <div class="smlogo-background"></div> -->
                </div>

                <div id="navbar" class="navbar-pane">
                    <ul>
                        <li id="home" ><a href="/about">About</a></li>
                        <li id="services"><a href="/services">Services</a></li>
                        <li id="blog"><a href="/blog">Blog</a></li>
                        <li id="photos" class="inactive"><a href="/photos">Photos</a></li>
                        <li id="contact"><a href="/contact">Contact</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="l-body-wrapper">
            <div class="l-content-wrapper">