<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content=""/>
        <meta name="author" content="" />
        <meta name="copyright" content="" />
        <title><%=pageTitle%></title>
        <!-- <script src="index.js" charset="utf-8"></script> -->

        <!-- CSS Stylesheets -->
        <link rel="stylesheet" href="/css/styles.css">
    
        <!-- INSERT Google Fonts -->
        <!-- INSERT Adobe Fonts -->
        
    
    
    
    </head>

<body>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/photos">Photos</a></li>
            <li><a href="/contact">Contact</a></li>

          </ul>
    </div>