<%- include("../views/partials/header.ejs") -%>
<h1>Reactive-Dogs-R-US!</h1>
<h2>Welcome!</h2>
<p>Hello Dog Lovers of Biddeford! I'm an experienced dog walker seeking new clients in the Biddeford/Saco area. I love working with strong pullers and reactive dogs to help improve walking habits. Basic leash training is included in all walks. Please visit my business page for more information about my services/pricing.</p>
<div class="card card-menu">Services</div>
<div class="card card-menu">Blog</div>
<div class="card card-menu">Photos</div>
<div class="card card-menu">Videos</div>
<div class="card card-menu">Contact</div>


<%- include("../views/partials/footer.ejs") -%>