<!-- Home page for "Looseleashdog" -->

<%- include("../views/partials/header.ejs") -%>

<div class="card-pane--home">

    <div class="wrap-home1">

        <div class="card card--home">
            <div class="home-card-inner-wrap">
                <a href="/services">
                    <span class="link-box">
                        <div class="home-card-top-section">
                            <h2>Services</h2>
                        </div>
                        <div class="home-card-bottom-section">
                            <p>Learn what I have&nbsp;to offer your&nbsp;family.</p>
                        </div>
                    </span>
                </a>
            </div>
        </div>

        <div class="card card--home">
            <div class="home-card-inner-wrap">
                <a href="/blog">
                    <span class="link-box">
                        <div class="home-card-top-section">
                            <h2>Blog</h2>
                        </div>
                        <div class="home-card-bottom-section">
                            <p>Read walking tips, product reviews and more.</p>
                        </div>
                    </span>
                </a>
            </div>
        </div>

    </div>

    <div class="wrap-home2">

        <div class="card card--home">
            <div class="home-card-inner-wrap">
                <a href="/photos">
                    <span class="link-box">
                        <div class="home-card-top-section">
                            <h2>Photos</h2>
                        </div>
                        <div class="home-card-bottom-section">
                            <p>Check out my canine friends striking a&nbsp;pose.</p>
                        </div>
                    </span>
                </a>
            </div>
        </div>

        <div class="card card--home">
            <div class="home-card-inner-wrap">
                <a href="/contact">
                    <span class="link-box">
                        <div class="home-card-top-section">
                            <h2>Contact</h2>
                        </div>
                        <div class="home-card-bottom-section">
                            <p>Reach out with questions about services.</p>
                        </div>
                    </span>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="l-divider divider-bottom margin-t-neg30"></div>

<div class="greeting-pane--home">
    <h1>Welcome!</h1>
    <img src="/images/sunrise.png">
    <p> I'm a seasoned dog walker sharing my experience with fellow dog lovers! I’m passionate about working with strong
        pullers and reactive dogs. Many dog owners want to achieve loose-leash walking. Our dogs are always learning,
        and I
        believe that all walks should include basic leash training and positive reinforcement. On this site you can read
        about my services and tips to make walks more enjoyable for you and your dog.
    </p>


</div>

<div class="l-divider divider-bottom"></div>

<div class="avatar-pane--home">
    <h2>Hi, I'm Emily</h2>
    <img class="avatar-img" src="/images/avatar.png">
</div>

<div class="l-divider divider-top"></div>

<div class="text-pane--home">
    <p>Two years ago I decided to offer dog walking services for strong pullers and reactive dogs. In every walk I include basic leash
        training (no pulling) and positive reinforcement because your dog is always learning. It's
        important to me that I don’t reinforce undesirable behavior while your dog is in my care. <br><br>In the past five years I’ve volunteered at a local animal shelter in a variety of
        canine positions, the majority of that as a dog walker. I assist staff in group clicker classes,
        behavior evaluations of new resident canines, and have transported a very special dog across the country. Working
        under the knowledgeable staff at the shelter gave me experience to walk dogs who are strong pullers as well as dogs who are
        reactive. Through all of this I've learned how physical/mental stimulation during and outside the walk can help our dogs
        succeed, and is what led me to offer my knowledge to you.  
    </p>
</div>

<%- include("../views/partials/footer.ejs") -%>

<!-- || END of document -->
