<%- include("../views/partials/header.ejs") -%>
<div class="logo-wrapper">
    <h1 class="logo-text">Reactive Dog Walking</h1>
    <img class="logo-image" src="\images\icon.png" >
    
    <div class="logo-background"></div>
</div>
<div class="home-content-wrapper">

    <div class="divider-top"></div>

    <div class="home-card-pane">
        <div class="card card-menu">
            <h2>Services</h2>
            <p>Check out what I have to offer your animal.</p>
        </div>
        <div class="card card-menu">
            <h2>Blog</h2>
            <p>Come learn ways to develop your relationship.</p>
        </div>
        <div class="card card-menu">
            <h2>Photos</h2>
            <p>All of my special friends deserve to be seen.</p>
        </div>
        <div class="card card-menu">
            <h2>Contact</h2>
            <p>Reach out with questions about services.</p>
        </div>
    </div>

    
    <div class="divider-bottom"></div>

    <div class="home-text-pane">
        <h2>Welcome!</h2>
        <p>Hello Dog Lovers of Biddeford! I'm an experienced dog walker seeking new clients in the Biddeford/Saco area.
            I love working with strong pullers and reactive dogs to help improve walking habits. Basic leash training is
            included in all walks. Please visit my business page for more information about my services/pricing.</p>
    </div>


   

</div>

<%- include("../views/partials/footer.ejs") -%>