<!-- Home page for "Looseleashdog" -->

<%- include("../views/partials/header.ejs") -%>

<div class="card-pane--home">

    <div class="wrap-home1">
        <div class="card card--home">
            <a href="/services">
                <span class="link-box">
                    <h2>Services</h2>
                    <p>Find out what I have to offer your&nbsp;family.</p>
                </span>
            </a>
        </div>

        <div class="card card--home">
            <a href="/blog">
                <span class="link-box">
                    <h2>Blog</h2>
                    <p>Come learn ways to&nbsp;develop your relationship.</p>
                </span>
            </a>
        </div>
    </div>

    <div class="wrap-home2">
        <div class="card card--home">
            <a href="/photos">
                <span class="link-box">
                    <h2>Photos</h2>
                    <p>Check out my canine friends striking a&nbsp;pose.</p>
                </span>
            </a>
        </div>

        <div class="card card--home">
            <a href="/contact">
                <span class="link-box">
                    <h2>Contact</h2>
                    <p>Reach out with questions about services.</p>
                </span>
            </a>
        </div>
    </div>
</div>

<div class="l-divider divider-bottom pull-top"></div>

<div class="greeting-pane--home">
    <h1>Welcome!</h1>
    <img src="/images/sunrise.png">
    <p> I'm a seasoned dog walker sharing my experience with fellow dog lovers! I
        love walking strong pullers and reactive dogs. I&nbsp;use positive reinforcement to work towards more enjoyable walks
        for my human and dog clients. On this site you can find tips and tools that I have found successful, as well as
        learn about dog walking services I offer.
    </p>
</div>

<div class="l-divider divider-bottom"></div>

<div class="avatar-pane--home">
    <h2>Hi, I'm Emily</h2>
    <img class="avatar-img" src="/images/avatar.png">
</div>

<div class="l-divider divider-top"></div>

<div class="text-pane--home">
    <p>I started this business and this site because I love dogs, plain and simple. My first experiences were while
        working with animals at a
        local rescue shelter.
        I found that the quality of the animals walks greatly influenced the overall quality of their stay, and
        gives the adoption agents more information to properly match the animal with an appropriate home. Working with
        dogs at a shelter has given me experience with dogs who are strong pullers and reactive. I decided to offer this
        experience through my business, focusing
        on walking skills that benefit the dog, the human, and the relationship between animal and owner.
    </p>
</div>

<%- include("../views/partials/footer.ejs") -%>

<!-- || END of document -->