<%- include("../views/partials/header--home.ejs") -%>

<div class="card-pane--home">

    <a href="/about">
        <div class="card card--home">
            <p>About</p>
            <p>What I believe is important for your animal.</p>
        </div>
    </a>

    <a href="/services">
        <div class="card card--home">
            <p>Services</p>
            <p>Check out what I have to offer your animal.</p>
        </div>
    </a>

    <a href="/blog">
        <div class="card card--home">
            <p>Blog</p>
            <p>Come learn ways to develop your relationship.</p>
        </div>
    </a>

    <a href="/photos">
        <div class="card card--home">
            <p>Photos</p>
            <p>All of my special friends deserve to be seen.</p>
        </div>
    </a>

    <a href="/contact">
        <div class="card card--home">
            <p>Contact</p>
            <p>Reach out with questions about services.</p>
        </div>
    </a>

</div>

<div class="l-divider divider-bottom" style="margin-top: -30px;"></div>

<div class="text-pane--home">
    <h1>Welcome!</h1>
    <img class="text-pane--home" src="images/forest.png">
    <p>Hello all Dog Lovers! I'm an experienced dog walker sharing my knowledge and skills with the world. I
        love working with strong pullers and reactive dogs to help improve walking habits. On this site you can
        find tips and tools that I have found successful, as well as learn about my services in the Biddeford/Saco area.
    </p>
</div>

<%- include("../views/partials/footer.ejs") -%>