<%- include("../views/partials/header--home.ejs") -%>

<div class="card-pane--home">

    <div class="card card--home">
        <a href="/about">
            <span class="link-box">
                <h2>About</h2>
                <p>What I believe is important for your&nbsp;animal.</p>
            </span>
        </a>
    </div>

    <div class="card card--home">
        <a href="/services">
            <span class="link-box">
                <h2>Services</h2>
                <p>Check out what I have to offer your&nbsp;family.</p>
            </span>
        </a>
    </div>

    <div class="card card--home">
        <a href="/blog">
            <span class="link-box">
                <h2>Blog</h2>
                <p>Come learn ways to&nbsp;develop your relationship.</p>
            </span>
        </a>
    </div>

    <div class="card card--home">
        <a href="/photos">
            <span class="link-box">
                <h2>Photos</h2>
                <p>All of my special friends deserve to&nbsp;be seen.</p>
            </span>
        </a>
    </div>

    <div class="card card--home">
        <a href="/contact">
            <span class="link-box">
                <h2>Contact</h2>
                <p>Reach out with questions about services.</p>
            </span>
        </a>
    </div>

</div>

<div class="l-divider divider-bottom" style="margin-top: -30px;"></div>

<div class="greeting-pane--home">
    <h1>Welcome!</h1>
    <p>Hello all Dog Lovers! I'm an experienced dog walker sharing my knowledge and skills with the world. I
        love working with dogs that can benefit from leash training and am able to work with reactive dogs to help
        improve walking habits. On this site you can
        find tips and tools that I have found successful, as well as learn about my services in the Biddeford/Saco area.
    </p>
    <img class="greeting-pane--home" src="images/forest.png">
</div>

<%- include("../views/partials/footer.ejs") -%>