<%- include("../views/partials/header.ejs") -%>

<div class="greeting-pane--photos">
    <h1>The Stars of&nbsp;the Show!</h1>
    <p>I love taking pictures of my dog friends on our walks. You can also find my Junior and Rosie. These are from my
        Instagram feed. I think the dogs like it
        too, at least most of them anyway! I'm looking at you, Juniper!
    </p>
</div>

<div id="photo-overlay" class="overlay-pane--photos" onclick="closeOverlay()">
    <div class="overlay-postbox--photos">
        <div class="box-overlay-img">
            <div class="vertical-center-wrap">

                <img id="photo-overlay-img" src="">

            </div>

        </div>
        <div class="box-overlay-text">

            <p id="photo-overlay-text"></p>
        </div>
        <div class="box-overlay-links">
            <p id="photo-overlay-links"></p>
        </div>
        <div class="box-overlay-insta">
            <button id="instaBtn" class="insta" type="button" onclick="instaRoute()">View on Instagram</button>
        </div>

    </div>
</div>
                    
     
        
        <script src="https://assets.juicer.io/embed.js" type="text/javascript"></script>
        <link href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
        <ul class="juicer-feed" data-feed-id="looseleashdog" data-per="15"></ul>
<br>
        

<%- include("../views/partials/footer.ejs") -%>