<%- include("../views/partials/header.ejs") -%>
<div class="l-divider divider-top"></div>

<div class="greeting-pane--photos">
    <h1>Meet The Stars</h1>
    <p>I love taking pictures of my dog friends on our walks. You can also find my Junior and Rosie. These are from my
        Instagram feed. I think the dogs like it too, at least most of them anyway! I'm looking at you, Juniper!
    </p>
</div>


<div class="l-divider divider-bottom"></div>
<div class="rosiejr-pane">
    <img src="/images/junior.jpg">
    <img src="/images/rosie.jpg">

</div>

<div class="text-pane--photos">
    <p>These are just some of my dog friends, check out all my posts on <a
        href="https://www.instagram.com/looseleashdog/" target="__blank">my Instagram page.</a> Check out my blog
        post on how to get your dog to pose for pictures <a href="/posts/Main-Post-Title">here</a>.</p>
    </p>
</div>

<div id="photo-overlay" class="overlay-pane--photos" onclick="closeOverlay()">
    <div class="overlay-postbox--photos">
        <div class="box-overlay-img">
            <div class="vertical-center-wrap">

                <img id="photo-overlay-img" src="">

            </div>

        </div>
        <div class="box-overlay-text">
            <p id="photo-overlay-text"></p>
        </div>
        <div class="box-overlay-links">
            <p id="photo-overlay-links"></p>
        </div>
        <div class="box-overlay-insta">
            <button id="instaBtn" class="insta" type="button" onclick="instaRoute()">View on Instagram</button>
        </div>

    </div>
</div>

<div class="carousel--curator">
    <div  id="curator-slider" class="viewport">
        <div class="inner-frame">
            <div id="curator-feed-wide-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
        </div>
    </div>
</div>
<div class="carosel-controls">
    <button type="button" onclick="curatorLeft()">Left</button>
    <button type="button" onclick="curatorRight()">Right</button>
</div>


    <div class="text-pane--photos">
        <p>Thanks for looking! <a
            href="https://www.instagram.com/looseleashdog/" target="__blank">See more on my Instagram Page.</a></p>
        </p>
    </div>


<%- include("../views/partials/footer.ejs") -%>