<%- include("../views/partials/header.ejs") -%>
<div class="l-divider divider-top"></div>

<div class="greeting-pane--photos">
    <h1>Meet My Friends</h1>
    <p>I love taking pictures of my dog friends on our walks. These are from my Instagram feed. You can also find my Junior and Rosie. I think the dogs like it too, at least most of them anyway! I'm looking at you, Juniper!
    </p>
</div>

<div class="l-divider divider-bottom"></div>

<div id="curator-hover" class="carousel--curator">

    <div  class="left-button-wrap">
        <div id="left-button" class="left-button-center"> 
            <button type="button" onclick="curatorLeft()"></button>
        </div>
    </div>

    <div id="curator-slider" class="viewport">
        <div class="inner-frame">
            <div id="curator-feed-wide-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
        </div>
    </div>

    <div  class="right-button-wrap">
        <div id="right-button" class="right-button-center"> 
            <button type="button" onclick="curatorRight()"></button>
        </div>
    </div>

</div>

<div class="text-pane--photos">
    <p>These are just some of my dog friends, check out all my posts on <a href="https://www.instagram.com/looseleashdog/" target="__blank">my Instagram page</a>.
    </p>
</div>

<div class="l-divider divider-top overfix-top"></div>

<div class="card-pane--photos">

    <div class="card card--photos">
        <img id="junior-image" src="/images/junior.jpg">
        <p>Junior</p>
    </div>

    <div class="card card--photos">
        <img  id="rosie-image" src="/images/rosie.jpg">
        <p>Rosie</p>
    </div>

</div>

<div class="l-divider divider-bottom overfix-bottom"></div>

<div class="text-pane--photos">
    <p>Thanks for looking! Check out my blog post on <a href="/posts/Main-Post-Title"></a>how to get your dog to pose for pictures here</a>.</p>
</div>

<%- include("../views/partials/footer.ejs") -%>