<%- include("../views/partials/header.ejs") -%>

<div class="greeting-pane--photos">
    <h1>The Stars of&nbsp;the Show!</h1>
    <p>I love taking pictures of my dog friends on our walks. You can also find my Junior and Rosie. These are from my
        Instagram feed. I think the dogs like it
        too, at least most of them anyway! I'm looking at you, Juniper!
    </p>
</div>

<div class="curator-pane">
    <div id="scroll-pane" class="horizontal-frame">
        <div class="inner-pane">
            <div id="curator-feed-wide-layout"><a href="https://curator.io" target="_blank"
                    class="crt-logo crt-tag">Powered
                    by Curator.io</a></div>
        </div>
    </div>
</div>

<div class="photo-buttons">
    <button onclick="scrollWinLeft()">Left</button>
    <button onclick="scrollWinRight()">Right</button>
</div>

<%- include("../views/partials/footer.ejs") -%>