<%- include("../views/partials/header.ejs") -%>

<h2>My Instagram</h2>
<div id="curator-feed-default-feed-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>


<%- include("../views/partials/footer.ejs") -%>