<%- include("../views/partials/header.ejs") -%>

<h2>Services</h2>
<p>Our loyal companions are happiest after physical and mental stimulation. I work collaboratively with my clients to
    fulfill each pets individual needs and improve walking habits.</p>
<div class="card card-services">
    <h3>30 Minute Walk</h3>
    <p>Basic leash training and waste bags included.</p>
    <hr>
    <div class="services-innerleft">
        <h4>15$</h4>
        <img src="../images/one-dog-gracie.jpg" width="100px">
        <p>1 Dog</p>
    </div>
    <div class="services-innerright">
        <h4>25$</h4>
        <img src="../images/cincy.jpg" width="100px">
        <p>2 Dogs</p>
    </div>
</div>

<div class="card card-services">
    <h3>1 Hour Walk</h3>
    <p>Basic leash training and waste bags included.</p>
    <hr>
    <div class="services-innerleft">
        <h4>20$</h4>
        <img src="../images/junior.jpg" width="100px">
        <p>1 Dog</p>
    </div>
    <div class="services-innerright">
        <h4>30$</h4>
        <img src="../images/pluto.jpg" width="100px">
        <p>2 Dogs</p>
    </div>
</div>

<div class="card card-services">
    <h3>1 Hour Run</h3>
    <p>Basic leash training and waste bags included.</p>
    <hr>
    <div class="services-innerleft">
        <h4>30$</h4>
        <img src="../images/rosie.jpg" width="100px">
        <p>1 Dog Only</p>
    </div>
    
</div>


<%- include("../views/partials/footer.ejs") -%>