<%- include("../views/partials/header.ejs") -%>

<div class="greeting-pane--services">
    <div class="greeting-img--services">
        <img src="/images/hills.png">
    </div>
    <div class="greeting-text--services">
        <h1>Services</h1>
        <p>Our loyal companions are happiest after physical and mental stimulation. Being outside and working on
            good behavior brings rewards back to your home.
        </p>
    </div>
</div>

<div class="l-divider divider-top"></div>

<div class="card-pane--services">

    <div class="card card--services">
        <h3>30 Minute Walk</h3>
        <hr class="card-hr">
        <div class="card--services-innerleft">
            <img src="/images/one-dog-gracie.jpg">
            <h4>15$</h4>
        </div>
        <div class="card--services-innerright">
            <img src="/images/2-dogs.jpg">
            <h4>25$</h4>
        </div>
    </div>

    <div class="card card--services">
        <h3>1 Hour Walk</h3>
        <hr class="card-hr">
        <div class="card--services-innerleft">
            <img src="/images/junior.jpg">
            <h4>25$</h4>
        </div>
        <div class="card--services-innerright">
            <img src="/images/2-dogs.jpg">
            <h4>30$</h4>
        </div>
    </div>

</div>

<div class="l-divider divider-bottom overfix-bottom"></div>

<div class="text-pane--services">
    <h2>Work as a Team</h2>
    <p>I work collaboratively with my clients to fulfill each pets individual needs to improve walking habits. Each
        dog is different, sometimes within the same household! My goal is to improve the walking experience for
        both the dog and the owner. Everyone feels better with a loose leash. Waste bags and treats are included.
    </p>
</div>

<%- include("../views/partials/footer.ejs") -%>