
* {
    box-sizing: border-box;
}

body {
    font-family: iskra, sans-serif;
    font-weight: 300;
    font-style: normal;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-family: phoreuscherokee, serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.5px;
}

button:focus {
    outline: none;
}
