/* || Section Layout */

/* || Header */

.l-header {
    height: 66px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 90;
    text-align: center;
}

.l-header-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.l-home-header {
    height: 120px;
    position: relative;
}

/* || Body (code lives in partials) */

.l-body-wrapper--home {
    max-width: 1000px;
    margin: 0px auto 0px;
    min-height: calc(100vh - 246px);
}

.l-body-wrapper {
    max-width: 1000px;
    margin: 60px auto 0px auto;
    min-height: calc(100vh - 186px);
}

.l-content-wrapper {
    padding-bottom: 40px;

}

/* || Footer */

.l-footer {
    height: 120px;
    position: absolute;
    width: 100%;
    text-align: center;
    box-sizing: content-box;
}

.l-footer-wrapper {
    width: 100%;
    height: 120px;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 0;
    padding: 35px 0;
}

/* || Layout Boxes */

.l-box-third {
    display: inline-block;
    width: 333px;
    font-size: 18px;
    vertical-align: middle;
}

.l-box-half {
    display: inline-block;
    line-height: 0;
    font-size: 0;
    width: 50%;
}


/* || Section Dividers */

.l-divider {
    width: 100%;
    height: 40px;
}

.divider-top {
    /* style in theme.css */
}

.divider-bottom {
    /* style in theme.css */
}

.overhang-fix {
    margin-bottom: 85px;
}

/* || Pages - Home */

/* || Pages - Services */

/* || Pages - Blog Main */



/* || Pages - Photos */

/* || Pages - Contact */

/* || Default Post */
