/* || Section Layout */

/* || Header */

.l-header {
    height: 66px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 90;
    text-align: center;
}

.l-header-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.l-home-header {
    height: 120px;
    position: relative;
}

/* || Navigation Bar */

.navbar-pane {
    float: right;
    top: 21px;
    position: relative;
}

.navbar-pane li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 21px;
}

/* || Body */

.l-body-wrapper--home {
    max-width: 1000px;
    margin: 0px auto 0px;
    min-height: calc(100vh - 246px);
}

.l-body-wrapper {
    max-width: 1000px;
    margin: 60px auto 0px auto;
    min-height: calc(100vh - 186px);
}

.l-content-wrapper {
    padding-bottom: 40px;

}

/* || Footer */

.l-footer {
    height: 120px;
    position: absolute;
    width: 100%;
    text-align: center;
    box-sizing: content-box;
}

.l-footer-wrapper {
    width: 100%;
    height: 120px;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 0;
    padding: 35px 0;
}

/* || Layout Boxes */

.l-box-third {
    display: inline-block;
    width: 333px;
    font-size: 18px;
    vertical-align: middle;
}

.l-box-half {
    display: inline-block;
    line-height: 0;
    font-size: 0;
    width: 50%;
}


/* || Card Global */

.card {
    display: inline-block;
    padding: 10px;
    border-radius: 12px;
}

.card-hr {
    border: none;
    height: 2px;
    background-color: var(--theme-lightblue-alt);
    width: 50%;
}


/* || Section Dividers */

.l-divider {
    width: 100%;
    height: 40px;
}

.overfix-bottom {
    margin-bottom: 85px;
}

.overfix-top {
    margin-top: 85px;
}

.pull-top {
    margin-top: -30px;
}

.pull-bottom {
    margin-bottom: 40px
}

.space-bottom {
    margin-bottom: 40px
}

/* || Pages - Home */

/* || Pages - Services */

/* || Pages - Blog Main */



/* || Pages - Photos */

/* || Pages - Contact */

/* || Default Post */



/* || Small logo */

.smlogo-pane {
    text-align: center;
    padding: 8px 0 0 10px;
    position: fixed;
}

/* || Large Logo  */

.logo-pane {
    text-align: center;
    height: 90px;
    /* margin-top: 10px; */
}

.logo-main {
    display: inline-block;
    width: 700px;
    margin-top: 19px;
}

.logo-sm {
    display: inline-block;
    width: 330px;
    margin-top: 5px;
}

/* || Footer */

.footer-social img {
    width: 50px;
    margin: 0px 10px;
}

.footer-attributions {
    margin-top: -7px;
    height: 52px;
    line-height: 1.6;
    font-size: 11px;
}

.footer-goodbye {
    margin-top: -5px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: .5px;
}
