/* || CSS file for "looseleashdog" modules  */

/* || Pages - Home */

.card-pane--home {
    margin: 0 auto;
    text-align: center;
}

.link-box {
    display: inline-block;
    width: 150px;
    height: 120px;
    padding: 2px 5px;
}

.link-box * {
    pointer-events: none;
}

.card--home {
    vertical-align: top;
    width: 150px;
    height: 120px;
    padding: 0;
    margin: 30px 20px 25px;
}

.card--home p {
    margin: 5px;
    line-height: 1.25;
}

.card--home h2 {
    display: inline-block;
    padding-bottom: 4px;
    padding-top: 10px;
    margin: 0;
    font-family: phoreuscherokee, serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
}

.active-nav h2 {
    border-bottom: 3px solid var(--theme-blue);
    border-radius: 2px;
    color: var(--theme-borders);
    transition: border-bottom .5s ease-in-out;
}

.greeting-pane--home {
    max-width: 800px;
    padding: 20px 0;
    margin: 0 auto;
}

.greeting-pane--home h1 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 60px;
}

.greeting-pane--home img {
    display: inline-block;
    width: 270px;
    margin-left: 20px;
}

.greeting-pane--home p {
    display: inline-block;
    vertical-align: top;
    max-width: 440px;
    margin: 40px 0px 0px 38px;
    font-size: 20px;
    line-height: 1.6;
}

.avatar-pane--home {
    position: relative;
    width: 100%;
    height: 175px;
    text-align: center;
}

.avatar-pane--home h2 {
    position: absolute;
    top: 32%;
    left: 15%;
    display: inline-block;
    font-size: 55px;
}

.avatar-img {
    position: absolute;
    right: 15%;
    top: -13%;
    display: inline-block;
    width: 220px;
}

.text-pane--home {
    max-width: 750px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}

.text-pane--home p {
    display: inline-block;
    max-width: 650px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    font-size: 20px;
    line-height: 1.6;
}


/* || Pages - Services */

.greeting-pane--services {
    position: relative;
    max-width: 1000px;
    height: 397px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

.greeting-pane--services h1 {
    display: inline-block;
    font-size: 60px;
    letter-spacing: 1px;
}

.greeting-img--services {
    z-index: 50;
    position: absolute;
}

.greeting-img--services img {
    width: 1000px;
}

.greeting-text--services {
    z-index: 51;
    position: relative;
    top: 60px;
    max-width: 450px;
    margin: 0 auto;
}

.greeting-text--services p {
    margin: 15px auto;
    font-size: 20px;
    line-height: 1.6;
}

.card-pane--services {
    z-index: 52;
    position: relative;
    margin: -100px auto;
    text-align: center;
}




.card--services-left {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 282px;
    margin: 0 30px;
    padding: 4px;
    border: 0 !important;
    background-color: var(--theme-lightblue-alt) !important;
}

.card--services-right {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 282px;
    margin: 0px 30px;
    padding: 4px;
    border: 0 !important;
    background-color: var(--theme-lightblue-alt) !important;
}

.services-card-inner-wrap {
    position: absolute;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border-radius: 8px;
    background-color: var(--theme-verylightblue);
}

.services-card-top-section {
    width: 100%;
    height: 33%;
    padding: 20px 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid var(--theme-lightblue-alt);
    background-color: var(--theme-lightblue);
}

.services-card-bottom-section {
    position: relative;
    width: 100%;
    height: 67%;
    padding: 10px 0 14px;
}

.services-card-top-section h3 {
    padding-top: 9px;
    font-size: 26px;
}

.services-price {
    font-size: 22px;
}

.dog-img {
    height: 80px;
    margin: 0 0 10px;
}

.card--services-innerleft {
    float: left;
    width: 118px;
    margin: 9px 0px 10px 18px;
    padding: 8px 8px 25px;
    border: 1px solid var(--theme-lightblue);
    border-radius: 12px;
}

.card--services-innerright {
    float: right;
    width: 118px;
    margin: 9px 18px 10px 0;
    padding: 8px 0px 25px;
    border: 1px solid var(--theme-lightblue);
    border-radius: 12px;
}

.text-pane--services {
    max-width: 700px;
    padding: 30px 0 40px;
    margin: 0px auto 0;
}

.text-pane--services h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
}

.text-pane--services p {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0px 0px 0px;
    font-size: 20px;
    line-height: 1.6;
}

/* || Pages - Blog Main */

.greeting-pane--blog {
    max-width: 700px;
    padding: 20px 0;
    margin: 0 auto;
}

.greeting-pane--blog h1 {
    text-align: center;
    font-size: 60px;
    letter-spacing: 1px;
}

.greeting-pane--blog p {
    max-width: 620px;
    margin: 15px auto 0px auto;
    font-size: 20px;
    line-height: 1.6;
}

.card--blog-main {
    position: relative;
    display: block;
    width: 80%;
    height: 205px;
    padding: 4px;
    border: none !important;
    margin: 50px auto;
    background-color: var(--theme-lightblue-alt) !important;
}

.blog-card-inner-wrap {
    position: absolute;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border-radius: 8px;
    background-color: var(--theme-verylightblue);
}

.blog-card-left-section {
    position: relative;
    display: inline-block;
    width: 292px;
    height: 197px;
    padding: 22px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: 1px solid var(--theme-lightblue-alt);
    background-color: var(--theme-lightblue);
}

.blog-card-right-section {
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: calc(100% - 296px); 
    height: 197px;
}


.intro-img {
    display: inline-block;
    width: 248px;
    height: 153px;
    margin: 0 auto;
}

.intro-img img {
    width: 248px;
    height: 153px;
    border: 1px solid var(--theme-blue);
    border-radius: 12px;
    background-color: var(--theme-blue);
}

.intro-text-box {
    z-index: 80;
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 197px;
    padding-top: 15px;
}

.intro-text-box h2 { /* heading */
    margin-bottom: 3px;
    text-align: center;
    font-size: 30px;
}

.intro-text-box p:nth-child(2) { /* date */
    text-align: center;
    font-size: 14px;
    opacity: 0.7;
}

.intro-text-box p:nth-child(3) { /* description */
    bottom: 20px;
    padding: 0 25px;
    margin: 8px auto;
    text-align: justify;
    font-size: 16px;
    color: var(--copy-mid);
    line-height: 1.4;
}

.intro-read-more { /* button */
    position: absolute;
    bottom: -4px;
    right: -5px;
    float: right;
    width: 130px;
    height: 50px;
    border: 4px solid var(--theme-lightblue-alt);
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-family: phoreuscherokee, serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--copy-dark);
    background-color: var(--theme-green);
    transition: background-color .1s ease-out;
}

.intro-read-more:hover {
    background-color: var(--theme-blue);
    cursor: pointer;
}

/* || Pages - Photos */

.greeting-pane--photos {
    max-width: 700px;
    padding: 20px 0;
    margin: 0px auto;
    text-align: center;
}

.greeting-pane--photos h1 {
    display: inline-block;
    font-size: 60px;
    letter-spacing: 1px;
}

.greeting-pane--photos p {
    max-width: 620px;
    margin: 15px auto 0;
    text-align: left;
    font-size: 20px;
    line-height: 1.6;
}

.text-pane--photos {
    max-width: 732px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}

.text-pane--photos p {
    display: inline-block;
    vertical-align: top;
    max-width: 550px;
    margin: 0px 0px 0px 38px;
    text-align: left;
    font-size: 20px;
    line-height: 1.6;
}

/* || Curator Carosel */

.carousel--curator {
    width: 1000px;
    height: 312px;
    margin: 0 auto 0px;
    background-color: var(--theme-blue);
}

.left-button-wrap {
    z-index: 10;
    position: relative;
    left: 0px;
    display: inline-block;
    width: 34px;
    height: 312px;
    margin-right: -4px;
}

.left-button-center {
    position: absolute;
    top: 50%;
    transform: translateY(-156px);
    width: 100%;
    height: 312px;
    opacity: 0.2;
    transition: opacity .2s;
}

.left-button-center button {
    z-index: 99;
    width: 34px;
    height: 312px;
    border: 0;
    background-image: url("/images/left-arrow.png");
    background-repeat: no-repeat;
    background-position: 10px 138px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.crt-post-footer {
    border-top: 1px solid var(--theme-blue) !important;
}

.crt-popup-text-body {
    color: var(--copy-mid);
    line-height: 1.4;
}

.crt-popup-text-body a {
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    color: var(--theme-darkgreen) !important;
    transition: border-bottom .1s ease-out;
}

.crt-popup-text-body a:hover {
    border-bottom: 1px solid var(--theme-darkgreen);
}

.crt-popup-footer {
    display: none !important;
}

.crt-popup-read-more {
    margin-bottom: -20px !important;
}

.crt-popup-wrapper {
    overflow-y: scroll !important;
}

.right-button-wrap {
    z-index: 10;
    position: relative;
    right: 0px;
    display: inline-block;
    width: 34px;
    height: 312px;
    margin-left: -4px;
}

.right-button-center {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-156px);
    width: 100%;
    height: 312px;
    opacity: 0.2;
    transition: opacity .2s;
}

.right-button-center button {
    z-index: 99;
    width: 34px;
    height: 312px;
    border: 0;
    background-image: url("/images/right-arrow.png");
    background-position: 10px 138px;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.viewport {
    display: inline-block;
    box-sizing: content-box;
    max-width: 930px;
    height: 310px;
    border: 1px solid var(--theme-blue);
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.inner-frame {
    width: 3100px;
    height: 310px;
}

.card-pane--photos {
    z-index: 52;
    position: relative;
    margin: -100px auto;
    text-align: center;
}

.card-pane--photos p {
    margin-top: 1px;
    font-size: 15px;
    color: var(--copy-light);
}

.card--photos {
    width: 250px;
    height: 250px;
    margin: 0 30px;
}

.card--photos h3 {
    padding-top: 0px;
    font-size: 26px;
}

.card--photos img {
    width: 200px;
    border: 4px solid var(--theme-blue);
    border-radius: 12px;
    margin: 12px auto 0;
    background-color: var(--theme-blue);
}

/* || Pages - Contact */

.greeting-pane--contact {
    z-index: 1;
    max-width: 500px;
    padding: 50px 0;
    margin: 0px auto;
    text-align: center;
}

.greeting-img--contact {
    z-index: 0;
    position: absolute;
    top: 63px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.greeting-img--contact img {
    width: 1000px;
    height: 770px;
}

.greeting-pane--contact h1 {
    z-index: 1;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 60px;
    letter-spacing: 1px;
}

.greeting-pane--contact p {
    z-index: 1;
    position: relative;
    margin: 10px auto;
    font-size: 20px;
    line-height: 1.6;
}

.card--contact-form {
    position: relative;
    display: block;
    width: 540px;
    height: 410px;
    padding: 4px;
    border: 0 !important;
    margin: 0 auto 30px;
    background-color: var(--theme-lightblue-alt) !important;
}

.contact-card-inner-wrap {
    position: absolute;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border-radius: 8px;
    background-color: var(--theme-verylightblue);
}

.contact-card-top-section {
    width: 100%;
    height: 33%;
    padding: 20px 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid var(--theme-lightblue-alt);
    background-color: var(--theme-lightblue);
}

.contact-card-bottom-section {
    position: relative;
    width: 100%;
    height: 67%;
    padding: 20px 30px;
}

.contact-submit {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 161px;
    height: 137px;
    border: 4px solid var(--theme-lightblue-alt);
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    margin: 0 auto;
    font-family: phoreuscherokee, serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--copy-dark);
    pointer-events: none;
    background-color: var(--theme-lightgreen-alt);
    transition: background-color .1s ease-out;
}

.contact-submit:hover {
    background-color: var(--theme-blue);
    cursor: pointer;
}

.contact-form * {
    display: block;
}

.form-title {
    margin-bottom: 6px;
    font-family: iskra, serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--copy-mid);
}

.form-entry {
    width: 315px;
    border: 1px solid var(--theme-lightblue-alt);
    margin-bottom: 10px;
    font-family: iskra, sans-serif;
    font-size: 16px;
    color: var(--copy-mid);
}

.form-textarea {
    width: 100%;
    height: 150px;
    border: 1px solid var(--theme-lightblue-alt);
    margin-bottom: 5px;
    resize: none;
}

.form-button {
    width: 100px;
    height: 62px;
    font-family: phoreuscherokee, serif;
    background-color: var(--theme-green);
}

.hidden-response {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    border-radius: 8px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--theme-verylightblue);
}

.response-box {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 350px;
    margin: 0 auto;
}

.response-box p {
    margin-bottom: 20px;
    font-family: phoreuscherokee, serif;
    font-size: 34px;
    font-weight: 700;
}

.response-box p:nth-child(1) {
    margin-bottom: 7px;
    font-size: 40px;
}

.response-box p:nth-child(2) {
    font-size: 26px;
}

.response-box p:nth-child(3) {
    margin-bottom: 25px;
    font-family: iskra, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: .5px;
}

.hidden-button {
    width: 161px;
    height: 100px;
    border: 4px solid var(--theme-lightblue-alt);
    border-radius: 12px;
    margin: 0 auto;
    font-family: phoreuscherokee, serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--copy-dark);
    background-color: var(--theme-green);
    transition: background-color .1s ease-out;
}

.hidden-button:hover {
    background-color: var(--theme-blue);
    cursor: pointer;
}


/* || END of document */