/* || Navigation Bar */

.navbar-pane {
    float: right;
    top: 12px;
    vertical-align: middle;
    position: relative;
    margin-top: -1px;
}

.navbar-pane li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 19px;



    padding-bottom: 3px;
    border-bottom: 5px solid var(--theme-blue);
    transition: border .8s;
    -webkit-transition: border .8s;

}

.navbar-pane li:hover {
    border-bottom: 5px solid var(--theme-green);

}

.active {
    border-bottom: 5px solid var(--theme-green);
}


/* || Small logo */

.smlogo-pane {
    text-align: center;
    padding: 0;
    position: fixed;
    
}

.smlogo-image {
    width: 40px;
    display: inline-block;
    margin: 0 0 -5px 7px;
    z-index: 92;
}

.smlogo-background {
    width: 320px;
    height: 12px;
    margin: -10px auto 0;
    z-index: 91;
}

.smlogo-text {
    z-index: 92;
    display: inline-block;
    font-size: 33px;
    margin-left: 13px;
}

/* || Large Logo Heading */

.logo-pane {
    text-align: center;
    padding: 20px 20px 30px;
    height: 120px;
}

.logo-image {
    width: 45px;
    display: inline-block;
    margin-left: 7px;
    z-index: 49;
    position: relative;
}

.logo-background {
    width: 732px;
    height: 22px;
    margin: -22px auto 0;
    z-index: 48;
    position: relative;
}

.logo-text {
    z-index: 50;
    display: inline-block;
    position: relative;
    font-size: 65px;
    margin-left: 13px;
}



/* || Card */

.card {
    display: inline-block;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

.card-innerleft {
    display: inline-block;
}

.card-innerright {
    display: inline-block;
}

/* || Pages - Home */

.greeting-pane--home {
    font-size: 18px;
    padding: 20px 0;
    max-width: 732px;
    margin: 0 auto;
    position: relative;
    height: 150px;
}

.greeting-pane--home h1 {
    font-size: 60px;
    margin: 28px 0 0 55px;
    font-family: Sacramento, cursive;
    display: inline-block;
    letter-spacing: 1px;
}

.greeting-pane--home img {
    width: 200px;
    display: inline-block;
    position: absolute;
    right: 50px;
    margin-top: -35px;
}

.card-pane--home {
    margin: 0 auto;
    text-align: center;
}

.card--home {
    width: 150px;
    height: 150px;
    vertical-align: top;
}

.card--home p {
    margin-top: 10px;
    line-height: 1.25;
}

.text-pane--home {
    padding: 20px 0;
    max-width: 732px;
    margin: 0 auto;
}

.text-pane--home h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

.text-pane--home p {
    font-size: 18px;
    display: inline-block;
    max-width: 470px;
    line-height: 1.5;
    margin: 40px 0px 0px 38px;
    vertical-align: top;
}

.text-pane--home img {
    width: 220px;
    display: inline-block;
}

/* || Pages - Services */

.greeting-pane--services {
    font-size: 18px;
    max-width: 1000px;
    height: 397px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.greeting-pane--services h1 {
    font-size: 60px;
    display: inline-block;
    letter-spacing: 1px;
}

.greeting-img--services {
    position: absolute;
    z-index: 50;
}

.greeting-text--services {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    z-index: 51;
}

.greeting-pane--services p {
    line-height: 1.5;
    margin: 10px auto;
}


.card-pane--services {
    margin: -100px auto;
    text-align: center;
    z-index: 52;
    position: relative;
}

.card--services {
    width: 230px;
    height: 230px;
}

.card--services h3 {
    padding: 10px;
}

.text-pane--services {
    padding: 0 0 40px;
    max-width: 770px;
    margin: 0 auto ;
}

.text-pane--services h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

.text-pane--services p {
    font-size: 18px;
    display: inline-block;
    max-width: 770px;
    line-height: 1.5;
    margin: 20px 0px 0px 38px;
    vertical-align: top;
    
}

/* || Pages - Photos */

.greeting-pane--photos {
    max-width: 600px;
    margin: 0px auto ;
    text-align: center;
    
}

.greeting-pane--photos h1 {
    font-size: 50px;
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 30px;
}


.greeting-pane--photos p {
    line-height: 1.5;
    margin: 10px auto;
    font-size: 20px;
}

.curator-pane {
    max-width: 910px;
    margin: 40px auto 30px;
    border: 5px solid var(--theme-borders);
    border-radius: 5px;

}

#curator-feed-test-layout {
    padding: 0;
}

.crt-popup-text-body {
    line-height: 1.5;
}

.horizontal-frame {
    overflow-x: hidden;
    width: 900px;
    height: 300px;
    margin: 0 auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.inner-pane {
    height: 300px;
    width: 3000px;
}

.text-pane--photos {
    padding: 0 0;
    max-width: 732px;
    margin: 0 auto;
}


.text-pane--photos p {
    font-size: 18px;
    max-width: 500px;
    line-height: 1.5;
    margin: 40px 0px 0px 0px;
    vertical-align: top;
}

.photo-buttons {
    text-align: center;
}



/* || Pages - Blog Main */

.greeting-pane--blog {
    padding: 20px 0;
    max-width: 732px;
    margin: 0 auto;
}

.greeting-pane--blog h2 {
    text-align: center;
    font-size: 35px;
}

.greeting-pane--blog p {
    font-size: 18px;
    max-width: 500px;
    line-height: 1.5;
    margin: 20px auto 0px auto;
}

.intro-img {
    display: inline-block;
    width: 250px; 
    height: 155px;
}

.intro-text-box {
    display: inline-block; 
    margin: 0px 20px;
    height: 100%;
    width: 500px;
    vertical-align: top;
    position: relative;
}

.intro-text-box h3{
    font-size: 24px;
    margin-bottom: 4px;
}

.intro-text-box p:nth-child(2){
    opacity: 0.7;
    font-size: 15px;

}

.intro-text-box p:nth-child(3){
    color: var(--copy-mid);    
    position: absolute;
    bottom: 20px;
    line-height: 1.3;
}

.intro-text-box p:nth-child(4){
    color: var(--theme-blue);    
    position: absolute;
    bottom: 0;
}



/* || Pages - Post */



/* || Pages - Contact */
