/* || Media Query CSS file for "looseleashdog" */


/* || Landing page  */

@media screen and (max-width: 812px) {


    .l-home-header {
        position: relative;
        height: auto;
        padding: 3px 0;
    }

    .logo-pane {
        height: auto;
        text-align: center;
    }

    .logo-main {
        display: inline-block;
        width: 100%;
        margin-top: 0px;
        margin-left: 0;
    }

    .logo-sm {
        display: inline-block;
        width: 330px;
        margin-top: 4px;
        margin-left: -10px;
    }

    @media screen and (max-width: 787px) {

        /* .wrap-home1 {
            bottom: 5px;
        } */

        .wrap-home2 {
            bottom: 30px;
        }

        .card-pane--home {
            height: 316px;
        }

    }

}


/* || Footer  */

@media screen and (max-width: 917px) {

    .l-footer {
        height: 205px;
    }

    .l-footer-wrapper {
        height: 205px;
        padding: 10px;
    }

    #footer-box1 {
        top: 72px;
        display: block;
    }

    #footer-box2 {
        bottom: 45px;
        display: block;
    }

    #footer-box3 {
        display: block;
        top: 32px;
    }

    @media screen and (max-width: 330px) {

        .l-box-third {
            width: 100%;
        }

        .footer-goodbye h3 a {
            font-size: 30px;
        }
    }

}


/* || END of document  */