/* || Media Query CSS file for "looseleashdog" */


/* || Navbar  */

@media screen and (max-width: 390px) {
    .logo-sm {
        width: 85%;
        position: relative;
        top: 21px;
        transform: translateY(-50%);
        float: left;

    }




}

/* || Landing page  */

@media screen and (max-width: 812px) {


    .l-home-header {
        position: relative;
        height: auto;
        padding: 3px 0;
    }

    .logo-pane {
        height: auto;
        text-align: center;
    }

    .logo-main {
        display: inline-block;
        width: 100%;
        margin-top: 0px;
        margin-left: 0;
    }



    @media screen and (max-width: 787px) {

        .wrap-home2 {
            bottom: 30px;
        }

        .card-pane--home {
            height: 316px;
        }

        .greeting-pane--home {
            text-align: center;
            padding: 30px 0 50px;
        }

        .greeting-pane--home img {
            display: none;
            bottom: -10px;
            margin-left: 0;
        }

        .greeting-pane--home p {
            bottom: -10px;
            text-align: left;
            max-width: 85%;
            margin: 0;
        }

        .text-pane--home p {
            max-width: 85%;
        }

        .avatar-pane--home h2 {
            position: absolute;
            top: 215px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        .avatar-img {
            position: absolute;
            top: -23px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        .text-pane--home {
            padding: 85px 0 20px;
        }

    }

    @media screen and (max-width: 405px) {

        .card-pane--home {
            height: auto;
        }

        .card--home {
            margin: 4vw 4vw;
        }

        .wrap-home2 {
            bottom: 10px;
            margin-bottom: -10px;
        }

        @media screen and (max-width: 375px) {

            .avatar-pane--home h2 {
                padding: 0 20px;
            }

            .text-pane--home {
                padding: 120px 0 20px;
            }

        }

        @media screen and (max-width: 365px) {

            .card-pane--home {
                height: auto;
            }

            .card--home {
                margin: 3vw 3vw;
            }

            .wrap-home2 {
                bottom: 10px;
                margin-bottom: -10px;
            }

        }

        @media screen and (max-width: 345px) {

            .card--home {
                width: 43vw;
                height: 36vw;
                margin: 2vw 2vw;
            }

            .link-box {
                width: 42vw;
                height: 36vw;
                margin: 0 auto;
            }

            .wrap-home2 {
                bottom: 0px;
                margin-bottom: 0px;
            }

        }

        @media screen and (max-width: 315px) {

            .card--home {
                width: 45vw;
                height: 38vw;
                margin: 2vw 2vw;
            }

            .link-box {
                width: 44vw;
                height: 38vw;
                margin: 0 auto;
                padding: calc((100% - 140px) / 2) 0px;
            }

            .greeting-pane--home h1 {
                font-size: 55px;
            }

            .greeting-pane--home p {
                max-width: 90%;
            }

            .text-pane--home p {
                max-width: 90%;
            }

        }

        @media screen and (max-width: 300px) {

            .link-box {
                width: 44vw;
                height: 38vw;
                margin: -7px auto 0;
                padding: calc((100% - 140px) / 2) 0px;
            }

            .greeting-pane--home p {
                font-size: 19px;
                max-width: 95%;

            }

            .text-pane--home p {
                font-size: 19px;
                max-width: 95%;

            }

        }

    }

}


/* || Footer  */

@media screen and (max-width: 917px) {

    .l-footer {
        height: 205px;
    }

    .l-footer-wrapper {
        height: 205px;
        padding: 10px;
    }

    #footer-box1 {
        top: 72px;
        display: block;
    }

    #footer-box2 {
        bottom: 45px;
        display: block;
    }

    #footer-box3 {
        display: block;
        top: 32px;
    }

    @media screen and (max-width: 330px) {

        .l-box-third {
            width: 100%;
        }

        .footer-goodbye h3 a {
            font-size: 30px;
        }
    }

}


/* || Hamburger menu  */

@media screen and (max-width: 768px) {

    .navbar-pane {
        display: none;
    }

    .h-menu-pane {
        display: block;
    }


}

@media screen and (min-width: 769px) {
    .h-menu-drop {
        display: none;
    }

}

/* || Blog Main  */

@media screen and (max-width: 1018px) {


    .card--blog-main {
        width: 800px;
    }

    @media screen and (max-width: 889px) {
        .card--blog-main {
            width: 91%;
        }
    }

    @media screen and (max-width: 768px) {


        .card--blog-main {
            height: 440px;
            width: 300px;
        }

        .blog-card-right-section {
            width: 292px;
        }

        .intro-text-box h2 {
            /* heading */
            font-size: 24px;
        }

        .intro-text-box p:nth-child(2) {
            /* description */
            max-height: 132px;
        }

        .intro-text-box {
            height: 231px;
        }

        .intro-text-box h2 {
            /* heading */
            top: 28px;
        }

        .blog-card-left-section {
            border-right: 0;
            border-bottom: 1px solid var(--theme-lightblue-alt);
            border-bottom-left-radius: 0px;
        }

    }

}

/* Contact Page  */

@media screen and (max-width: 600px) {

    .card--contact-form {
        width: 91%;
    }

    .contact-submit {
        height: 81px;
    }

    .contact-card-top-section input:nth-child(2) {
        width: calc(100% - 160px);
    }

    .greeting-pane--contact p {
        max-height: 96px;
        padding: 0 15px;
    }

    @media screen and (max-width: 421px) {

        .card--contact-form {
            height: 460px;
            margin-bottom: 0px;
        }

        .contact-card-top-section input:nth-child(2) {
            width: 100%;
        }

        .contact-card-top-section input:nth-child(4) {
            width: 100%;
        }

        .contact-submit {
            height: 67px;
            width: calc(100% - 60px);
            top: 389px;
            left: 0;
            right: 0;
            margin: 0 auto;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 12px;
        }

        .greeting-pane--contact h1 {
            margin-top: -13px;
        }

        @media screen and (max-width: 390px) {

            .greeting-pane--contact h1 {
                font-size: 15vw;
            }

            .greeting-pane--contact p {
                line-height: 1.4;
            }

            @media screen and (max-width: 321px) {

                .greeting-pane--contact h1 {
                    margin-top: -18px;
                }

                .card--contact-form {
                    margin-top: 27px;
                }

                .h-menu-drop li {
                    font-size: 16px;
                    margin: 0 7px;
                }

            }
        }


    }

    /* || END of document  */