/* || Media Query CSS file for "looseleashdog" */


/* || Landing page  */

@media screen and (max-width: 812px) {


    .l-home-header {
        position: relative;
        height: auto;
        padding: 3px 0;
    }

    .logo-pane {
        height: auto;
        text-align: center;
    }

    .logo-main {
        display: inline-block;
        width: 100%;
        margin-top: 0px;
        margin-left: 0;
    }

    .logo-sm {
        display: inline-block;
        width: 330px;
        margin-top: 4px;
        margin-left: -10px;
    }

    @media screen and (max-width: 787px) {

        .wrap-home2 {
            bottom: 30px;
        }

        .card-pane--home {
            height: 316px;
        }

        .greeting-pane--home {
            text-align: center;
            padding: 30px 0 50px;
        }

        .greeting-pane--home img {
            display: none;
            bottom: -10px;
            margin-left: 0;
        }

        .greeting-pane--home p {
            bottom: -10px;
            text-align: left;
            max-width: 85%;
            margin: 0;
        }

        .text-pane--home p {
            max-width: 85%;
        }

        .avatar-pane--home h2 {
            position: absolute;
            top: 215px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        .avatar-img {
            position: absolute;
            top: -23px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        .text-pane--home {
            padding: 85px 0 20px;
        }

    }

    @media screen and (max-width: 405px) {

        .card-pane--home {
            height: auto;
        }

        .card--home {
            margin: 4vw 4vw;
        }

        .wrap-home2 {
            bottom: 10px;
            margin-bottom: -10px;
        }

        @media screen and (max-width: 375px) {

            .avatar-pane--home h2 {
                padding: 0 20px;
            }

            .text-pane--home {
                padding: 120px 0 20px;
            }

        }

        @media screen and (max-width: 365px) {

            .card-pane--home {
                height: auto;
            }

            .card--home {
                margin: 3vw 3vw;
            }

            .wrap-home2 {
                bottom: 10px;
                margin-bottom: -10px;
            }

        }

        @media screen and (max-width: 345px) {

            .card--home {
                width: 43vw;
                height: 36vw;
                margin: 2vw 2vw;
            }

            .link-box {
                width: 42vw;
                height: 36vw;
                margin: 0 auto;
            }

            .wrap-home2 {
                bottom: 0px;
                margin-bottom: 0px;
            }

        }

        @media screen and (max-width: 315px) {

            .card--home {
                width: 45vw;
                height: 38vw;
                margin: 2vw 2vw;
            }

            .link-box {
                width: 44vw;
                height: 38vw;
                margin: 0 auto;
                padding: calc((100% - 140px) / 2) 0px;
            }

            .greeting-pane--home h1 {
                font-size: 55px;
            }

            .greeting-pane--home p {
                max-width: 90%;
            }

            .text-pane--home p {
                max-width: 90%;
            }

        }

        @media screen and (max-width: 300px) {

            .link-box {
                width: 44vw;
                height: 38vw;
                margin: -7px auto 0;
                padding: calc((100% - 140px) / 2) 0px;
            }

            .greeting-pane--home p {
                font-size: 19px;
                max-width: 95%;

            }

            .text-pane--home p {
                font-size: 19px;
                max-width: 95%;

            }

        }

    }

}


/* || Footer  */

@media screen and (max-width: 917px) {

    .l-footer {
        height: 205px;
    }

    .l-footer-wrapper {
        height: 205px;
        padding: 10px;
    }

    #footer-box1 {
        top: 72px;
        display: block;
    }

    #footer-box2 {
        bottom: 45px;
        display: block;
    }

    #footer-box3 {
        display: block;
        top: 32px;
    }

    @media screen and (max-width: 330px) {

        .l-box-third {
            width: 100%;
        }

        .footer-goodbye h3 a {
            font-size: 30px;
        }
    }

}


/* || Hamburger menu  */

@media screen and (max-width: 768px) {

    .navbar-pane {
        display: none;
    }

    .h-menu-pane {
        display: block;
    }


}

@media screen and (min-width: 769px) {
    .h-menu-drop {
        display: none;
    }

}

/* || Blog Main  */

@media screen and (max-width: 1018px) {


    .card--blog-main {
        width: 800px;
    }

    @media screen and (max-width: 889px) {
        .card--blog-main {
            width: 91%;
        }
    }

    @media screen and (max-width: 768px) {











}



/* || END of document  */