/* || CSS file for "looseleashdog" blog posts  */
/* || main image and title section  */

.post-main-img {
    margin: 10px 0;
}

.post-title {
    text-align: center;
    margin-top: 30px;
}

.post-title h1 {
    font-size: 50px;
}

.post-meta {
    text-align: center;
    margin-top: 5px;
}

.post-meta p {
    font-size: 16px;
    letter-spacing: 0.5px;
}

.post-date {
    display: inline-block;
}

/* || text paragraph   */

.slice-paragraph {
    text-align: left;
    max-width: 600px;
    margin: 20px auto;
    font-size: 18px;
    line-height: 1.7;
}

/* || h2 and container  */

.slice-heading {
    text-align: left;
    max-width: 600px;
    margin: 50px auto 20px;
}

.slice-heading h2 {
    font-size: 32px;
}

/* || h3 and container */

.slice-subheading {
    text-align: left;
    max-width: 600px;
    margin: 50px auto 20px;
}

.slice-subheading h3 {
    font-size: 26px;
}

/* || highlighted link  */

.slice-link {
    text-align: center;
    max-width: 600px;
    padding: 15px;
    margin: 60px auto;
    font-size: 24px;
}

.slice-link p {
    max-width: 400px;
    margin: 0 auto;
    line-height: 1.4;
}

/* || highlighted quote  */

.slice-quote {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    margin: 60px auto;
}

.slice-quote p:nth-child(1) {
    font-size: 22px;
    font-style: italic;
    letter-spacing: 0.5px;   
}

.slice-quote p:nth-child(2) {
    position: relative;
    left: 70px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

/* || image gallery */

.slice-gallery {
    text-align: center;
    padding: 30px 0 13px;
    margin: 50px auto;
    font-size: 20px;
}

.post-gallery {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 0;
    line-height: 0;
}

.gallery-content-frame {
    text-align: center;
    display: inline-block;
}

.post-gallery-img {
    width: 268px;
    border-radius: 12px;
    margin: 0 15px 10px;
    background-color: var(--theme-blue);
}

.post-gallery-caption {
    max-width: 250px;
    margin: 0 auto ;
    font-size: 17px;
    line-height: 1.2;
}
