/* || Blog Post CSS file for "looseleashdog" */

/* || Main image and title section  */

.post-main-img {
    margin: 10px 0;
}

.post-title {
    margin-top: 30px;
    text-align: center;
}

.post-title h1 {
    font-size: 50px;
}

.post-meta {
    margin-top: 5px;
    text-align: center;
}

.post-meta p {
    font-size: 16px;
    letter-spacing: 0.5px;
}

.post-date {
    display: inline-block;
}

/* || Text paragraph   */

.slice-paragraph {
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
    font-size: 18px;
    line-height: 1.7;
}

/* || H2 and container  */

.slice-heading {
    max-width: 600px;
    margin: 50px auto 20px;
    text-align: left;
}

.slice-heading h2 {
    font-size: 32px;
}

/* || H3 and container */

.slice-subheading {
    max-width: 600px;
    margin: 50px auto 20px;
    text-align: left;
}

.slice-subheading h3 {
    font-size: 26px;
}

/* || Highlighted link  */

.slice-link {
    max-width: 600px;
    padding: 15px;
    margin: 60px auto;
    text-align: center;
    font-size: 24px;
}

.slice-link p {
    max-width: 400px;
    margin: 0 auto;
    border-left: 10px solid;
    line-height: 1.4;
}

/* || Highlighted quote  */

.slice-quote {
    max-width: 600px;
    padding: 20px;
    margin: 60px auto;
    border-left: 10px solid;

    text-align: center;
}

.slice-quote p:nth-child(1) {
    font-size: 22px;
    font-style: italic;
    letter-spacing: 0.5px;   
}

.slice-quote p:nth-child(2) {
    position: relative;
    left: 70px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

/* || Image gallery */

.slice-gallery {
    padding: 30px 0 13px;
    margin: 50px auto;
    border-top: 3px solid;
    border-bottom: 3px solid;
    text-align: center;
    font-size: 20px;
}

.post-gallery {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    line-height: 0;
}

.gallery-content-frame {
    display: inline-block;
    text-align: center;
}

.post-gallery-img {
    width: 268px;
    margin: 0 15px 10px;
    border: 1px solid;
    background-color: var(--theme-blue);
}

.post-gallery-caption {
    max-width: 250px;
    margin: 0 auto ;
    font-size: 17px;
    line-height: 1.2;
}


/* || END of document */