body {
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    
}

.navbar ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}


.card {
    display: inline-block;
    background-color: #999;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 4px 3px 5px grey;
}

.card-menu {
    width: 150px;
    height: 150px;
}

.card-services {
    width: 250px;

}

.services-innerleft {
    display: inline-block;
    
   
}

.services-innerright {
    display: inline-block;
    
   
}
