:root {
    --theme-blue: #3fc5f0;
    --theme-darkblue: #239cc4;
    --theme-verylightblue: #ebfbff;
    --theme-lightblue: #ccf2fd;
    --theme-lightblue-alt: #b0e9ff;
    --theme-darkgreen: #00d681; /* rgba(109, 236, 185, 1) */
    --theme-green: #6decb9; /* rgba(109, 236, 185, 1) */
    --theme-lightgreen: #9bffd7; 
    --theme-yellow: #f2f6d0;
    --theme-lightyellow: #f5f7de;
    --theme-borders: #3a3b48;
    --theme-lightborders: #4d4f60;
    --border-light: #e6e6e6;
    --primary-background:#ffffff;
    --secondary-background: #f9f9f9;
    --copy-light: #b4b4b4;
    --copy-mid: #6a6a6a;
    --copy-dark: #3a3b48;
    --shadow: rgba(0, 0, 0, 0.4);
    --darken: rgba(0,0,0,0.1);
    --clear: rgba(0, 0, 0, 0);
    /*#48899f*/
}

body {
    background-color: #cef1fd;
    background-image: url(/images/flowers.png);
    background-attachment: fixed;
    color: var(--copy-mid);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--copy-dark);
}

/* || Link Styling */

a {
    text-decoration: none;
    color: var(--theme-green);
    padding: 1px;    
}

p a {
    border-bottom: 2px solid var(--clear);
    transition: border-bottom .1s ease-out;
}

p a:hover {
    border-bottom: 2px solid var(--theme-green);
}

.link-underborder-impact{
    color: var(--theme-blue);
    font-size: 35px;
    font-family: phoreuscherokee, serif;
    font-weight: 700;
    font-style: normal;
    border-top: 4px solid var(--theme-lightgreen);
    border-bottom: 4px solid var(--theme-lightgreen);
    padding-bottom: 3px;
    transition: border-bottom 1s, border-top 1s, color 1s;
    -webkit-transition: border-bottom 1s, border-top 1s, color 1s;
}
  
.link-underborder-impact:hover{
    border-bottom: 4px solid var(--theme-blue);
    border-top: 4px solid var(--theme-blue);
    color: var(--theme-blue);
}

.link-underborder{
    color: var(--theme-blue);
    border-bottom: 2px solid var(--theme-blue);
    padding-bottom: 1px;
    transition: border-bottom 1s, color 1s;
    -webkit-transition: border-bottom 1s, color 1s;
}
  
.link-underborder:hover{
    border-bottom: 2px solid var(--theme-blue);
    color: var(--theme-blue);
}

/* || Navbar  */

.navbar-pane li {
    color: var(--copy-dark);
    padding-bottom: 3px;
    border-radius: 4px; /* curve of underline edge */
}

.navbar-pane li:hover {
    border-bottom: 5px solid var(--theme-yellow);
}

.current {
    border-bottom: 5px solid var(--theme-yellow)!important;
    color: var(--theme-yellow)!important;
}

/* || Main Layout Elements */

.l-header {
    background-color: var(--theme-blue);  
    border-bottom: 3px solid var(--darken);
}

.l-body-wrapper {
    background-color: var(--clear);
}

.l-content-wrapper {
    background-color: var(--primary-background);
    box-shadow: 0px 0px 8px var(--shadow);
}

.l-footer {
    background-color: var(--theme-lightgreen);
    border-top: 3px solid var(--darken);
}

.divider-top {
    border-top: 1px solid var(--border-light);
    background-image: linear-gradient(#f0f0f0, var(--clear));
}

.divider-bottom {
    border-bottom: 1px solid var(--border-light);
    background-image: linear-gradient(var(--clear), #f5f5f5);
}

/* || Card Elements */

.card {
    background-color: var(--theme-lightblue);
    box-shadow: 4px 2px 12px var(--shadow);
    color: var(--copy-dark);
    border: 2px solid var(--theme-lightblue-alt);
}

.card--services {
    border: 4px solid var(--theme-lightblue-alt);
}

.card--home {
    background-color: var(--theme-lightblue);
    transition: border .1s linear;
}

.card--home:hover {
    background-color: #dcf7ff;
    border: 2px solid var(--theme-blue);
}

/* || Post Elements */

.slice-link {
    border-left: 10px solid var(--theme-darkgreen);
}

.slice-quote {
    border-left: 10px solid var(--theme-blue);
}

.post-meta p {
    color: var(--copy-light);
}

.slice-quote p:nth-child(1) {
    color: var(--theme-blue);
}

.slice-quote p:nth-child(2) {
    opacity: 0.8;
    color: var(--theme-blue);
}

.slice-gallery {
    background-color: var(--theme-lightblue);
    border-top: 3px solid var(--theme-lightblue-alt);
    border-bottom: 3px solid var(--theme-lightblue-alt);
}

.post-gallery-img {
    border: 1px solid var(--theme-blue);
}

.post-gallery-caption {
    color: var(--copy-mid);
}

 
/* || Contact Form  */

input:focus {
    outline: 1px solid var(--theme-blue);
}

textarea:focus {
    outline: 1px solid var(--theme-blue);
}


/* || Footer */

.footer-attributions {
    color: var(--copy-light);
}

.footer-goodbye {
    color: var(--copy-mid);
}

/* || Pages - Home  */


.card--home p {
    color: var(--copy-mid);
}

.card--home h2 {
    border-bottom: 3px solid var(--theme-lightblue);
}
